



.home-container {
  background-image: url('../image/back.jpg');
  background-size: cover; 
  background-attachment: fixed; 
  background-position: 80% center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: rgb(0, 0, 0); */
  position: relative;
  overflow: hidden; 
}

.home-content {
  width: 90%;
  max-width: 800px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  rgba(255, 255, 255, 0.4);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 1rem;
  text-align: center;
 
}

.home-content h3 {
  font-size:1.7rem ; 
  margin-bottom: 1rem; 
}

.home-content h3,
.home-content p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}
.primary-btn{
  background-color: rgb(227, 75, 194);
  color: black;
}



.home-container p {
  font-size: 1.2rem; 
  margin-bottom: 1rem;
  
}


@media (max-width: 1024px) {
  .home-content h3 {
    font-size: 1.5rem; 
  }

  .home-content p {
    font-size: 1rem; 
  }
}

@media (max-width: 768px) {
  .home-content h3 {
    font-size: 1.3rem; 
  }

  .home-content p {
    font-size: 0.9rem; 
  }
}

@media (max-width: 480px) {
  .home-content h3 {
    font-size: 1rem; 
  }

  .home-content p {
    font-size: 0.8rem; 
  }
}
